<div id="note-close">
  <span class="glyphicon glyphicon-remove-circle"></span>
</div>
<div>
  <h3 class="note-title">New Note</h1>
</div>
<div id="note-errors"></div>
<%= form_for note, remote: true do |f| %>
  <div class="form-group">
    <%= f.text_field :title, class: "form-control note-field", placeholder: 'Title...', 'data-keepOpenOnClick' => '' %>
  </div>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control note-field", rows: '13', placeholder: 'What would you like to remember?', 'data-keepOpenOnClick' => '' %>
  </div>
  <div class="form-group">
    <%= f.collection_select :category_ids, Category.order("title"), :id, :title, {}, {multiple: true, class: "note-field chosen-select form-control", 'data-keepOpenOnClick' => ''} %>
  </div>
  <div class="form-group">
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: "note-field form-control account-button", 'data-keepOpenOnClick' => '' %>
  </div>
  <div class="form-group">
    <button id="clear-note-fields" class="form-control">Clear</button>
  </div>
<% end %>
