<h1>Add a Code Snippet</h1>
<div>
  <% if @snippet.errors.any? %>
    <ul class="submit-errors">
      <% @snippet.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
      <% end %>
    </ul>
    <% end %>
</div>

<div>
  <%= form_for @snippet do |f| %>
    <div>
      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.order("title"), :id, :title %>
    </div>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :block, "Snippet: " %>
      <%= f.text_area :block %>
    </div>
    <div>
      <%= f.label :description, "Description of Snippet: " %>
      <%= f.text_area :description %>
    </div>
    <% if current_user %>
    <div>
      <%= f.check_box(:is_private) %>
      <%= f.label :is_private, "Private" %>
    </div>
    <% end %>
    <div>
      <%= f.submit "Add Snippet" %>
    </div>
  <% end %>
</div>
