<div class="row">
  <div id="search" class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
    <%= form_tag all_search_path do %>
      <%= text_field_tag :search, params[:search], :id => "search-form"%>
      <%= submit_tag "Search", :name => nil, :id => "search-button"  %>
    <% end %>
  </div>
</div>
<div class="row">
<div class="text-center col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
  <h1><%= @snippet.title %></h1>
</div>
  <div class="col-xs-12">

  </div>
</div>
<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
    <div class="row">
      <div class="col-xs-3">
        <span id="category"><%= @snippet.category.title %></span>
      </div>
      <div class="col-xs-5" id="vote-buttons">
        <% if @vote.nil? %>
          <%= link_to "<button class='btn btn-default btn-sm'>Helpful</button>".html_safe, snippet_votes_path(@snippet, {vote: {is_up: true}}), method: :post %>
          <%= link_to "<button class='btn btn-default btn-sm'>Unhelpful</button>".html_safe, snippet_votes_path(@snippet, {vote: {is_up: false}}), method: :post %>
        <% elsif @vote.is_up? %>
          <%= link_to "<button class='btn btn-default btn-sm btn-success'>Helpful</button>".html_safe, snippet_vote_path(@snippet, @vote), method: :delete %>
          <%= link_to "<button class='btn btn-default btn-sm'>Unhelpful</button>".html_safe, snippet_vote_path(@snippet, @vote, {vote: {is_up: false}}), method: :patch %>
        <% else %>
          <%= link_to "<button class='btn btn-default btn-sm'>Helpful</button>".html_safe, snippet_vote_path(@snippet, @vote, {vote:{is_up: true}}), method: :patch %>
          <%= link_to "<button class='btn btn-default btn-sm btn-danger'>Unhelpful</button>".html_safe, snippet_vote_path(@snippet, @vote), method: :delete %>
        <% end %>
      </div>
      <div class="col-xs-4" id="results">
        <span>Current Voting: </span>
        <% if @snippet.vote_result < 0 %>
          <span class="negative"><%= @snippet.vote_result %></span>
        <% elsif @snippet.vote_result > 0 %>
          <span class="positive"><%= @snippet.vote_result %></span>
        <% else %>
          <span class="neutral"><%= @snippet.vote_result %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
    <pre class="code">
      <%= @snippet.block %>
    </pre>
  </div>
</div>
</div>
<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 well">
    <p class="text-center">
      <%= @snippet.description %>
    </p>
  </div>
</div>
