<div class="row code-background">
  <div class="col-xs-12 col-sm-12 col-md-offset-6 col-md-6 block-it">
    <div class="over-image">
      <h1 class="main-title">Don't Google it<br />CodeSnippt it</h1>
      <p class="intro-text">
        With easy access to all kinds of code snippets you'll never have to
        fuss with skimming through search results again. And best of all,<br /><span class="emphasis">IT'S FREE!</span>
      </p>
      <%= button_to "JOIN TODAY", new_user_path, method: :get, :class => "plain-link btn btn-lg attention center-block" %>
    </div>
  </div>
</div>
<div class="row" id="search-container">
  <div id="search" class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
    <%= form_tag all_search_path do %>
      <%= text_field_tag :search, params[:search], :id => "search-form"%>
      <%= submit_tag "Search", :name => nil, :id => "search-button"  %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <h1 class="center-text welcome">Welcome&nbsp;to CodeSnippt</h1>
  </div>
</div>
<div class="row" data-appear-top-offset="-100" data-animated="fadeInUp">
  <div class="col-xs-12 col-sm-4 col-md-4 topper">
      <%= image_tag "time.png", class: "center-block top-and-bottom", id: "time" %>
      <h3 class="center-text">SAVE TIME</h3>
      <p class="blurb center-block">
        Not only do we offer a vast database of code snippets but you can save
        them to your account for easy future use, review, and help!
      </p>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 topper">
      <%= image_tag "cut.png", class: "center-block top-and-bottom", id: "cut" %>
      <h3 class="center-text">CUT AND PASTE</h3>
      <p class="blurb center-block">
        Our upcoming web browser extension will allow for even quicker code
        snagging and saving. Coming soon to a screen near you!
      </p>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 topper">
      <%= image_tag "brackets.png", class: "center-block top-and-bottom", id: "brackets" %>
      <h3 class="center-text">ACCESSABLE CODE</h3>
      <p class="blurb center-block">
        The right code is good but knowing how and why it
        works is important. The code explanations add education to the solution.
      </p>
  </div>
</div>
<div class="row dark break">
  <div class="col-xs-12">
    <span class="main-title center-block">Most Popular Languages, Frameworks, and Tools</span>
  </div>
</div>
<div class="row dark">
  <% @top_11.each do |language_title, count| %>
  <% category_id = Category.where(title: language_title).pluck(:id) %>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <table class="wide">
      <tr>
        <td class="language-cell">
          <%= link_to language_title.upcase, category_path(category_id), :class => "language" %><br>
          <span class="snippet-count"><%= count > 1 || count == 0 ? "#{count} Snippets" : "#{count} Snippet" %></span>
        </td>
      </tr>
    </table>
  </div>
  <% end %>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <table class="wide">
      <tr>
        <td class="language-cell">
          <a href="#"class="language">SEE MORE...</a>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a href="<%= new_user_path %>"><button class="btn btn-lg attention center-block plain-link">START SNIPPING</button></a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <h2 class="center-text welcome">Fast.&nbsp;&nbsp;Clean.&nbsp;&nbsp;Efficient.</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 top-and-bottom">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/nKIu9yen5nc" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="testimonial-box center-block top-and-bottom">
      <p class="testimonial">
        "Learning to code was really hard for me...so many things to remember with syntax and verbage. Luckily I found
        CodeSnippt and was able to save all the little things that I needed to use often and access them ealisy. It has
        been a huge help."
      </p>
      <p class="testimonial-name">- Dave S</p>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="testimonial-box center-block top-and-bottom">
      <p class="testimonial">
        "Productivity is all about time managemnet. With CodeSnippt I have saved a ton of time by not having to Google
        pieces of code that I use occasionally. It has been a vital part of the completion of numerous projects ahead of
        schedule."
      </p>
      <p class="testimonial-name">- Rachel W</p>
    </div>
  </div>
</div>
<div class="row CTA-bar">
  <a href="<%= new_user_path %>">
    <div class="col-xs-12">
      <h2 class="center-text main-title">CLICK TO START YOUR SNIPPING JOURNEY TODAY FOR FREE</h2>
    </div>
  </a>
</div>
