<div class="row code-background">
  <div class="col-xs-12 col-sm-offset-3 col-sm-9 col-md-offset-6 col-md-6 block-it">
    <div class="over-image">
      <h1 class="main-title">Don't Google it<br />CodeSnippet it</h1>
      <p class="intro-text">
        With easy access to all kinds of code snippets you'll never have to
        fuss with skimming through search results again. And best of all,<br /><span class="emphasis">IT'S FREE!</span>
      </p>
      <a class="plain-link" href="#"><button class="btn btn-lg attention plain-link">JOIN TODAY</button></a>
    </div>
  </div>
</div>









<h1>Welcome to Code Snippet</h1>

<p>Please create an account or log in to see your snippets, otherwise you snippets will be available to everyone.</p>

<h2>Snippet Search</h2>

<%= form_tag search_path do %>
  <%= text_field_tag :search, params[:search]%>
  <%= submit_tag "Search", :name => nil  %>
<% end %>

  <% @categories.each do |category| %>
    <% number = Snippet.where("category_id = #{category.id}").length %>
    <p>
      <%= link_to category.title, category_path(category) %> (<%= number > 1 || number == 0 ? "#{number} Snippets" : "#{number} Snippet" %>)
    </p>
  <% end %>
