<!DOCTYPE html>
<html>
<head>
  <title>CodeSnippets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <img src="http://media.merchantcircle.com/11967796/LOGO-CS_full.jpeg" class="logo" />
  <%= link_to "Home", root_path %> |
  <%= link_to "New Snippet", new_snippet_path %>
  <hr>

<%= yield %>

</body>
</html>
